<!DOCTYPE html>
<html lang="en">


<!-- chart-sparkline.html 01:54:59 GMT -->
<head>
         <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="FoodDesk - Online Food Delivery Admin Dashboard" />
	<meta property="og:title" content="FoodDesk - Online Food Delivery Admin Dashboard" />
	<meta property="og:description" content="FoodDesk - Online Food Delivery Admin Dashboard" />
	<meta property="og:image" content="social-image.png" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
		<title>FoodDesk - Online Food Delivery Admin Dashboard</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<link href="/static/web/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="/static/web/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
     <link href="/static/web/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
<link href="/static/web/css/style.css" rel="stylesheet">


</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

		{% include 'web/partials/header.html' %}


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container">
				
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Charts</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Sparkline</a></li>
					</ol>
                </div>
                <!-- row -->

                <div class="row">
                    <div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
								<h4 class="card-title">Line Chart</h4>
							</div>
							<div class="card-body">
                                <span id="sparklinedash"></span>                                
                            </div>
                        </div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
								<h4 class="card-title">Site Traffic</h4>
							</div>
							<div class="card-body">
                                <div class="ico-sparkline">
									<div id="sparkline8"></div>
								</div>                              
                            </div>
                        </div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
							<div class="card-header">
								<h4 class="card-title">Site Traffic</h4>
							</div>
							<div class="card-body">
                                <div class="ico-sparkline">
									<div id="sparkline9"></div>
								</div>                             
                            </div>
                        </div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
								<h4 class="card-title">Bar Chart</h4>
							</div>
							<div class="card-body">
								<div class="ico-sparkline">
									<div id="spark-bar"></div>
								</div>                            
                            </div>
                        </div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
								<h4 class="card-title">Stacked Bar CHART</h4>
							</div>
							<div class="card-body">
								<div class="ico-sparkline">
									<div id="StackedBarChart"></div>
								</div>                           
                            </div>
                        </div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
								<h4 class="card-title">Tristate charts</h4>
							</div>
							<div class="card-body">
                                <div class="ico-sparkline">
									<div id="tristate"></div>
								</div>                         
                            </div>
                        </div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
								<h4 class="card-title">Composite Line Chart</h4>
							</div>
							<div class="card-body">
								<div class="ico-sparkline">
									<div id="sparkline-composite-chart"></div>
								</div>                      
                            </div>
                        </div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
								<h4 class="card-title">Composite Bar Chart</h4>
							</div>
							<div class="card-body">
								<div class="ico-sparkline">
									<div id="composite-bar"></div>
								</div>                   
                            </div>
                        </div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
								<h4 class="card-title">Bullet Chart</h4>
							</div>
							<div class="card-body">
								<div class="ico-sparkline">
									<div id="bullet-chart"></div>
								</div>                
                            </div>
                        </div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
								<h4 class="card-title">Pie Chart</h4>
							</div>
							<div class="card-body">
								<div class="ico-sparkline">
									<div id="sparkline11"></div>
								</div>               
                            </div>
                        </div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
								<h4 class="card-title">Box Plot</h4>
							</div>
							<div class="card-body">
								<div class="ico-sparkline">
									<div id="boxplot"></div>
								</div>              
                            </div>
                        </div>
					</div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
           <div class="copyright border-top">
   <p>Copyright © Designed   by <a href="https://themeforest.net/user/dexignlabs" target="_blank">DexignLab</a> 2022</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/static/web/vendor/global/global.min.js"></script>
	<script src="/static/web/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/static/web/vendor/chart.js/Chart.bundle.min.js"></script>
	<!-- Apex Chart -->
	<script src="/static/web/vendor/apexchart/apexchart.js"></script>
    
	<!-- Chart sparkline plugin files -->
    <script src="/static/web/vendor/jquery-sparkline/jquery.sparkline.min.js"></script>

	<script src="/static/web/js/plugins-init/sparkline-init.js"></script>
    <script src="/static/web/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

	<!-- Svganimation scripts -->
    <script src="/static/web/vendor/svganimation/vivus.min.js"></script>
    <script src="/static/web/vendor/svganimation/svg.animation.js"></script>

    <script src="/static/web/js/custom.js"></script>
	<script src="/static/web/js/dlabnav-init.js"></script>
<script src="/static/web/vendor/swiper/js/swiper-bundle.min.js"></script>

	
    
	
</body>

<!-- chart-sparkline.html 01:55:03 GMT -->
</html>