{% extends 'web/base.html' %}
{% load static crispy_forms_tags %}
{% block content %}

<section style="background: #F4F1EA;" id="packages">
    <div class="container section_padding_sm packages">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
                <div class="border_box">
                    <p>
                        We have received your subscription request. 
                        Our team will review your request and get back to you shortly.
                        Please check your email for further instructions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

