{% extends 'web/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}
<section style="background: #F4F1EA;" id="packages">
	<div class="container section_padding_sm packages">
		<div class="row">
            {% include 'web/partials/navigator.html' %}

            <div class="col-12">
                <h3 class="text-center">Customize Your Menu</h3>
            </div>
		
			<div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
                <div class="border_box border border-dark">

                    <div class="row pb-3">
                        <div class="col-md-3">
                            <div class="package_image">
                                <img src="{{plan.meal_category.image.url}}" alt="" style="height:150px;width: 100%;object-fit: contain;text-align: center;">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h5 class="card-title mb-2 fw-bold">Your Plan</h5>
                            <p class="mb-1">
                                You have selected the <strong>{{plan}}</strong> plan. 
                                {{plan.meal_category.description}}. Changed your mind?  
                                <a href="javascript: history.go(-1)" class="text-green">Switch to a different plan</a>
                            </p>
                            <div class="selected_container">
                                <span>{{plan.meal_category}}</span>
                                <span>{{plan.validity}} Days</span>
                                <span>{{subplan}}</span>
                            </div>
                        </div>
                    </div>


                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                      
                    <form action="" method="post">
                        {% csrf_token %}
                        
                        <div class="table-responsive my-4">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:15%;max-width:15%;">Day</th>
                                        <th style="display:none;width:17%;max-width:17%;" data-id="EARLY_BREAKFAST">Early Breakfast</th>
                                        <th style="display:none;width:17%;max-width:17%;" data-id="BREAKFAST">Breakfast</th>
                                        <th style="display:none;width:17%;max-width:17%;" data-id="TIFFIN_LUNCH">Tiffin Lunch</th>
                                        <th style="display:none;width:17%;max-width:17%;" data-id="LUNCH">Lunch</th>
                                        <th style="display:none;width:17%;max-width:17%;" data-id="DINNER">Dinner</th>
                                    </tr>
                                </thead>
                                <tr data-id="Monday">
                                    <td style="width:15%;max-width:15%;" class="py-3">Monday</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="EARLY_BREAKFAST">{{form.monday_early_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="BREAKFAST">{{form.monday_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="TIFFIN_LUNCH">{{form.monday_tiffin_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="LUNCH">{{form.monday_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="DINNER">{{form.monday_dinner}}</td>
                                </tr>
                                 <tr data-id="Tuesday">
                                    <td style="width:15%;max-width:15%;" class="py-3">Tuesday</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="EARLY_BREAKFAST">{{form.tuesday_early_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="BREAKFAST">{{form.tuesday_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="TIFFIN_LUNCH">{{form.tuesday_tiffin_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="LUNCH">{{form.tuesday_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="DINNER">{{form.tuesday_dinner}}</td>
                                </tr>
                                 <tr data-id="Wednesday">
                                    <td style="width:15%;max-width:15%;" class="py-3">Wednesday</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="EARLY_BREAKFAST">{{form.wednesday_early_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="BREAKFAST">{{form.wednesday_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="TIFFIN_LUNCH">{{form.wednesday_tiffin_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="LUNCH">{{form.wednesday_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="DINNER">{{form.wednesday_dinner}}</td>
                                </tr>
                                 <tr data-id="Thursday">
                                    <td style="width:15%;max-width:15%;" class="py-3">Thursday</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="EARLY_BREAKFAST">{{form.thursday_early_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="BREAKFAST">{{form.thursday_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="TIFFIN_LUNCH">{{form.thursday_tiffin_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="LUNCH">{{form.thursday_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="DINNER">{{form.thursday_dinner}}</td>
                                </tr>
                                 <tr data-id="Friday">
                                    <td style="width:15%;max-width:15%;" class="py-3">Friday</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="EARLY_BREAKFAST">{{form.friday_early_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="BREAKFAST">{{form.friday_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="TIFFIN_LUNCH">{{form.friday_tiffin_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="LUNCH">{{form.friday_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="DINNER">{{form.friday_dinner}}</td>
                                </tr>
                                 <tr data-id="Saturday">
                                    <td style="width:15%;max-width:15%;" class="py-3">Saturday</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="EARLY_BREAKFAST">{{form.saturday_early_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="BREAKFAST">{{form.saturday_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="TIFFIN_LUNCH">{{form.saturday_tiffin_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="LUNCH">{{form.saturday_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="DINNER">{{form.saturday_dinner}}</td>
                                </tr>
                                 <tr data-id="Sunday">
                                    <td style="width:15%;max-width:15%;" class="py-3">Sunday</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="EARLY_BREAKFAST">{{form.sunday_early_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="BREAKFAST">{{form.sunday_breakfast}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="TIFFIN_LUNCH">{{form.sunday_tiffin_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="LUNCH">{{form.sunday_lunch}}</td>
                                    <td style="display:none;width:17%;max-width:17%;" class="p-0" data-id="DINNER">{{form.sunday_dinner}}</td>
                                </tr>

                            </table>
                        </div>
                        
                        <div class="pt-3">
                            <button type="submit" class="btn btn-primary">Next</button>
                        </div>
                    </form>
                </div>
			</div>
        </div>
	</div>
</section>
{% endblock content %}


{% block javascript %}
<script>
    const available_mealtypes = {{available_mealtypes|safe}};
    for (let i = 0; i < available_mealtypes.length; i++) {
        let data_id = available_mealtypes[i];
        $(`th[data-id="${data_id}"]`).show();
        $(`td[data-id="${data_id}"]`).show();
        $(`td[data-id="${data_id}"] select`).each(function () {
            $(this).prop('required',true)
            const options = $(this).find('option').not('[value=""]'); // Exclude no-value options
            if (options.length === 1) {
                // Set the single option as selected
                options.prop('selected', true);
                // $(this).prop('disabled', true);
            }
        });
    };
</script>
{% endblock javascript %}