<!DOCTYPE html>
<html lang="en">

<!-- feedback.html 01:54:19 GMT -->
<head>
     <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="FoodDesk - Online Food Delivery Admin Dashboard" />
	<meta property="og:title" content="FoodDesk - Online Food Delivery Admin Dashboard" />
	<meta property="og:description" content="FoodDesk - Online Food Delivery Admin Dashboard" />
	<meta property="og:image" content="social-image.png" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
		<title>FoodDesk - Online Food Delivery Admin Dashboard</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<link href="/static/web/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
	<link href="/static/web/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	
	<!-- Style css -->
	<link href="/static/web/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/web/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
     <link href="/static/web/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
	<link href="/static/web/css/style.css" rel="stylesheet">

	
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
		{% include 'web/partials/header.html' %}

		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="card h-auto">
							<div class="card-body pb-0">
								<div class="row">
									<div class="col-xl-9 col-lg-12">
										<h3 class="font-w700">Statistic</h3>
										<div id="chartBar">
										</div>
									</div>
									<div class="col-xl-3 col-lg-12">
										<div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
											<div>
												<select class="form-control default-select  me-3 ms-0  border" style="display: none;">
													<option>This Month</option>
													<option>This Week</option>
													<option>Last Week</option>
												</select>
											</div>
											<div class="dropdown dropstart">
												<a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</a>
												<div class="dropdown-menu" style="margin: 0px;">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</div>
										<div class="feedback-right mb-4">
											<div class="d-flex align-items-center mb-4">
												<div class="d-flex align-items-center">
													<svg  class="me-2" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
														<rect x="1.5" y="1.5" width="9" height="9" rx="4.5" fill="white" stroke="#000000" stroke-width="3"/>
													</svg>
													<span>Positive</span>
												</div>
												<div class="d-flex align-items-center ms-4">
													<svg  class="me-2" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect x="1.5" y="1.5" width="9" height="9" rx="4.5" fill="white" stroke="#EB5757" stroke-width="3"/>
													</svg>
													<span>Bad</span>
												</div>
											</div>
											<h4 class="font-w400 text-nowrap">Positive Feedback</h4>
											<h3 class="font-w700">3.456</h3>
										
											<div class="d-flex align-items-center flex-wrap">
												<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_1001_21)">
												<path d="M23.25 12.5C23.25 6.275 18.225 1.25 12 1.25C5.775 1.25 0.75 6.275 0.75 12.5C0.749999 18.725 5.775 23.75 12 23.75C18.225 23.75 23.25 18.725 23.25 12.5ZM11.25 17.075L11.25 10.175L9.3 11.9C8.85 12.275 8.25 12.2 7.875 11.825C7.725 11.6 7.65 11.375 7.65 11.15C7.65 10.85 7.8 10.55 8.025 10.4L11.625 7.25C11.7 7.175 11.775 7.175 11.85 7.1C11.925 7.1 11.925 7.1 12 7.025C12.075 7.025 12.075 7.025 12.15 7.025L12.225 7.025C12.3 7.025 12.3 7.025 12.375 7.025L12.45 7.025C12.525 7.025 12.525 7.025 12.6 7.1C12.6 7.1 12.675 7.1 12.675 7.175L12.75 7.25C12.75 7.25 12.75 7.25 12.825 7.325L15.975 10.55C16.35 10.925 16.35 11.6 15.975 11.975C15.6 12.35 14.925 12.35 14.55 11.975L13.125 10.475L13.125 17.15C13.125 17.675 12.675 18.2 12.075 18.2C11.7 18.05 11.25 17.6 11.25 17.075Z" fill="#000000"/>
												</g>
												<defs>
												<clipPath id="clip0_1001_21">
												<rect width="24" height="24" fill="white" transform="translate(24 0.5) rotate(90)"/>
												</clipPath>
												</defs>
												</svg>
												<h4 class="text-primary mb-0 mx-2">+15%</h4>
												<span>From last month</span>
											</div>
										</div>
										<div class="feedback-right mb-3 mb-md-0">
											<h4 class="font-w400">Bad Feedback</h4>
											<h3 class="font-w700">3.456</h3>
										
											<div class="d-flex align-items-center flex-wrap mb-xl-0 mb-3">
												<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_1001_28)">
												<path d="M0.75 12.5C0.75 18.725 5.775 23.75 12 23.75C18.225 23.75 23.25 18.725 23.25 12.5C23.25 6.275 18.225 1.25 12 1.25C5.775 1.25 0.75 6.275 0.75 12.5ZM12.75 7.925L12.75 14.825L14.7 13.1C15.15 12.725 15.75 12.8 16.125 13.175C16.275 13.4 16.35 13.625 16.35 13.85C16.35 14.15 16.2 14.45 15.975 14.6L12.375 17.75C12.3 17.825 12.225 17.825 12.15 17.9C12.075 17.9 12.075 17.9 12 17.975C11.925 17.975 11.925 17.975 11.85 17.975L11.775 17.975C11.7 17.975 11.7 17.975 11.625 17.975L11.55 17.975C11.475 17.975 11.475 17.975 11.4 17.9C11.4 17.9 11.325 17.9 11.325 17.825L11.25 17.75C11.25 17.75 11.25 17.75 11.175 17.675L8.025 14.45C7.65 14.075 7.65 13.4 8.025 13.025C8.4 12.65 9.075 12.65 9.45 13.025L10.875 14.525L10.875 7.85C10.875 7.325 11.325 6.8 11.925 6.8C12.3 6.95 12.75 7.4 12.75 7.925Z" fill="#EB5757"/>
												</g>
												<defs>
												<clipPath id="clip0_1001_28">
												<rect width="24" height="24" fill="white" transform="translate(0 24.5) rotate(-90)"/>
												</clipPath>
												</defs>
												</svg>
												<h4 class="text-danger mb-0 mx-2">+15%</h4>
												<span>From last month</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-12">
								<div class="d-flex align-items-center justify-content-between flex-wrap">
									<h4 class="cate-title">Recent Feedback</h4>
									<div class="d-flex align-items-center">
										<select class="form-control default-select  me-3 ms-0 mb-4 border" style="display: none;">
											<option>Lastest</option>
											<option>Oldest</option>
											<option>Newest</option>
										</select>
										<select class="form-control default-select  ms-0 mb-4 border" style="display: none;">
											<option>All Rating</option>
											<option>Low Rating</option>
											<option>High Rating</option>
										</select>
									</div>
								</div>
								<div class="swiper mySwiper-1">
									  <div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="card">
												<div class="card-body">
													<div class="feedback-bx">
														<ul class="d-flex align-items-center mb-3">
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
														</ul>
														<div class="border-bottom">
															<h6>Lorem ipsum dolor sit amet.</h6>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
														</div>
														<div class="restro-review d-flex align-items-center mt-4">
															<img src="/static/web/images/resturent-review/pic-1.jpg" alt="">
															<div>
																<h4 class="font-w500">Ruby Roben</h4>
																<span>User since 2020</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<div class="card-body">
													<div class="feedback-bx">
														<ul class="d-flex align-items-center mb-3">
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
														</ul>
														<div class="border-bottom">
															<h6>Lorem ipsum dolor sit amet.</h6>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
														</div>
												
														<div class="restro-review d-flex align-items-center mt-4">
															<img src="/static/web/images/resturent-review/restro-feedback/pic-1.jpg" alt="">
															<div>
																<h4 class="font-w500">Jack Jock</h4>
																<span>User since 2020</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<div class="card-body">
													<div class="feedback-bx">
														<ul class="d-flex align-items-center mb-3">
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
														</ul>
														<div class="border-bottom">
															<h6>Lorem ipsum dolor sit amet.</h6>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
														</div>
														<div class="restro-review d-flex align-items-center mt-4">
															<img src="/static/web/images/resturent-review/restro-feedback/pic-1.jpg" alt="">
															<div>
																<h4 class="font-w500">Jack Jock</h4>
																<span>User since 2020</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<div class="card-body">
													<div class="feedback-bx">
														<ul class="d-flex align-items-center mb-3">
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
														</ul>
														<div class="border-bottom">
															<h6>Lorem ipsum dolor sit amet.</h6>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
														</div>
														<div class="restro-review d-flex align-items-center mt-4">
															<img src="/static/web/images/resturent-review/restro-feedback/pic-2.jpg" alt="">
															<div>
																<h4 class="font-w500">Danny Ahmad</h4>
																<span>User since 2020</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<div class="card-body">
													<div class="feedback-bx">
														<ul class="d-flex align-items-center mb-3">
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
															<li><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#000000"/>
															</svg>
															</li>
														</ul>
														<div class="border-bottom">
															<h6>Lorem ipsum dolor sit amet.</h6>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
														</div>
														<div class="restro-review d-flex align-items-center mt-4">
															<img src="/static/web/images/resturent-review/restro-feedback/pic-3.jpg" alt="">
															<div>
																<h4 class="font-w500">Clara Hope</h4>
																<span>User since 2020</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									  </div>
									  <div class="swiper-pagination"></div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="d-flex align-items-center justify-content-sm-between justify-content-center flex-wrap pagination-bx">
					<div class="mb-sm-0 mb-3 pagination-title">
						<p class="mb-0"><span>Showing 1-5</span> from <span>100</span> data</p>
					</div>
					<nav>
						<ul class="pagination pagination-gutter">
							<li class="page-item page-indicator">
								<a class="page-link" href="javascript:void(0)">
									<i class="la la-angle-left"></i></a>
							</li>
							<li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a>
							</li>
							<li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
							
							<li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
							<li class="page-item page-indicator">
								<a class="page-link" href="javascript:void(0)">
									<i class="la la-angle-right"></i></a>
							</li>
						</ul>
					</nav>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
		
		
		
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
           <div class="copyright border-top">
   <p>Copyright © Designed   by <a href="https://themeforest.net/user/dexignlabs" target="_blank">DexignLab</a> 2022</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->
		
        <!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/static/web/vendor/global/global.min.js"></script>
	<script src="/static/web/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="/static/web/vendor/chart.js/Chart.bundle.min.js"></script>
	<script src="/static/web/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	
	<!-- Apex Chart -->
	<script src="/static/web/vendor/apexchart/apexchart.js"></script>

	<script src="/static/web/vendor/bootstrap-datetimepicker/js/moment.js"></script>
	<script src="/static/web/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/static/web/vendor/swiper/js/swiper-bundle.min.js"></script>

	<!-- Dashboard 1 -->
	<script src="/static/web/js/dashboard/dashboard-1.js"></script>
	
	<script src="/static/web/js/dlabnav-init.js"></script>
    <script src="/static/web/js/custom.js"></script>
	
    
	
	 <script>
      var swiper = new Swiper(".mySwiper-1", {
        slidesPerView: 4,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
		 autoplay: {
			delay: 1000,
		 },
		breakpoints: {
          360: {
            slidesPerView: 1,
            spaceBetween: 20,
          },
		  600: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
         
		1200: {
            slidesPerView: 3,
            spaceBetween: 20,
          },
		  1600: {
            slidesPerView: 4,
            spaceBetween: 20,
          },
		  1920: {
            slidesPerView: 4,
            spaceBetween: 20,
          },
          
        },
      });
    </script>
    
</body>

<!-- feedback.html 01:54:23 GMT -->
</html>