{% extends 'web/base.html' %}
{% load static %}


{% block content %}
<section class="" style="background: #F4F1EA;">
	<div class="section_padding hero" >
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="thumb">
						<img src="/static/web/images/main.png" alt="" style="max-height:400px">
					</div>
				</div>
				<div class="col-md-6">
					<span class="subline">ALOT KITCHEN</span>
					<h1>Deliciously yours, Everyday!</h1>
					<p>
						Unlock the joy of effortless cooking with ALOT KITCHEN. Our tailored meal plans bring delicious, chef-crafted dishes right to your table—saving you time and stress every day. Sign up now and savor the flavors that make life deliciously simple!
					</p>
					<div class="main_inline">
						<a href="" class="btn btn-primary">Browse Plans</a>
						<a href="tel:+971569009143"><img src="/static/web/images/mobile.png" alt="" style="width:40px"></a>
					</div>
					<p>Or <a href="{% url 'auth_login' %}" class="text-decoration-underline">Sign In to your account</a></p>
				</div>
			</div>
			
		</div>
	</div>
</section>


<section style="background: #F4F1EA;" class="section_padding_sm pt-0">
	<div class="marquee ">
		<span>Savor Every Bite with Our Signature Flavours</span>
		<span>Your Favorite Meals, Freshly Delivered</span>
		<span>Classic Dishes, Modern Convenience</span>
	</div>
</section>


<section style="background: #F4F1EA;">
	<div class="container section_padding_sm packages">
		<div class="row">
			
			<div class="col-md-3">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img1.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Essential</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img2.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Classic Veg</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img3.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Classic Nonveg</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img4.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Standard Veg</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img5.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Standard Nonveg</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img1.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Premium</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<section style="background: #F4F1EA;" class="section_padding_sm cta">
	<div class="container">
		<div class="crow">
			<div class="col-12">
				<div class="thumb">
					<div class="card">
						<img src="/static/web/images/cta.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<footer class="section_padding" style="background: #F4F1EA;">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="logo_container mb-4">
					<img src="/static/app/config/logo.png" alt="" style="max-width:160px">
				</div>
				
				<address class="mb-2">
					<span class="icon">
						<img src="/static/web/images/location.png" alt=""></span>
						<span>Halawh Alkhyrat Cafe LLC Kitchen, Dubai, UAE.</span>
				</address>
				<p class="mb-2"><span class="icon"><img src="/static/web/images/phone.png" alt=""></span>+971 56 9009143</p>
				<p class="mb-2"><span class="icon"><img src="/static/web/images/mail.png" alt=""></span>info@alotkitchen.com</p>
			</div>
			<div class="col-md-3">
				<p  class="mb-3"><strong>Subscription Packages</strong></p>
				<ul>
					<li class="mb-2"><a href="">Essential Package</a></li>
					<li class="mb-2"><a href="">Classic Veg Package</a></li>
					<li class="mb-2"><a href="">Classic Nonveg Package</a></li>
					<li class="mb-2"><a href="">Standard Veg Package</a></li>
					<li class="mb-2"><a href="">Standard Nonveg Package</a></li>
				</ul>
			</div>
			<div class="col-md-5">
				<div class="row">
					<p  class="mb-3"><strong>Delivery Locations</strong></p>
					<div class="col-6">
						<ul>
							<li class="mb-2"><a href="">Al Barsha</a></li>
							<li class="mb-2"><a href="">Al Fahidi Historical Neighborhood</a></li>
							<li class="mb-2"><a href="">Business Bay</a></li>
							<li class="mb-2"><a href="">City Walk</a></li>
							<li class="mb-2"><a href="">Deira</a></li>
						</ul>
					</div>
					<div class="col-6">
						<ul>
							<li class="mb-2"><a href="">Downtown Dubai</a></li>
							<li class="mb-2"><a href="">Dubai Creek</a></li>
							<li class="mb-2"><a href="">Dubai Marina</a></li>
							<li class="mb-2"><a href="">Jumeirah</a></li>
							<li class="mb-2"><a href="">Palm Jumeirah</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

{% endblock content %}
