{% extends 'web/base.html' %}
{% load static %}

{% block content %}
<section class="">
	<div class="section_padding" style="background: #F4F1EA;">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="thumb">
						<img src="/static/web/images/img1.png" alt="" style="max-height:400px">
					</div>
				</div>
				<div class="col-md-6">
					<span class="subline">ALOT KITCHEN</span>
					<h1>Deliciously yours, Everyday!</h1>
				</div>
			</div>
			
		</div>
	</div>
</section>
{% endblock content %}
