{% extends 'web/base.html' %}
{% load static %}

{% block content %}
<section class="">
	<div class="section_padding" style="background-image: url(/static/web/images/home.jpg);">
		<div class="container">
			<p class="text-white">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quibusdam hic doloribus accusamus ut eos impedit, neque maiores laborum necessitatibus consequatur accusantium dolorem, ratione quas autem adipisci sunt. Rem, pariatur?
			</p>
		</div>
	</div>
</section>
{% endblock content %}
