{% extends 'web/base.html' %}
{% load static %}


{% block content %}

<section style="background: #F4F1EA;">
	<div class="container section_padding packages">
		<div class="row">
			<div class="col-12 text-center mb-4">
				
				<a href="{% url 'web:essential' %}" class="btn btn-white me-3 mb-2 {% if tier == 'Essential' %}border-dark{% endif %}">Essential</a>
				<a href="{% url 'web:classicveg' %}" class="btn btn-white me-3 mb-2 {% if tier == 'ClassicVeg' %}border-dark{% endif %}">Classic Veg</a>
				<a href="{% url 'web:classicnonveg' %}" class="btn btn-white me-3 mb-2 {% if tier == 'ClassicNonVeg' %}border-dark{% endif %}">Classic Nonveg</a>
				<a href="{% url 'web:standardveg' %}" class="btn btn-white me-3 mb-2 {% if tier == 'StandardVeg' %}border-dark{% endif %}">Standard Veg</a>
				<a href="{% url 'web:standardnonveg' %}" class="btn btn-white me-3 mb-2 {% if tier == 'StandardNonVeg' %}border-dark{% endif %}">Standard Nonveg</a>
			</div>
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="table-responsive border border-dark">

					<table class="table table-bordered nowrap">
						<thead>
							<tr>
								<td style="width:10%;"></td>
								{% for mealtype in mealtypes %}
								<td style="max-width:22%;">{{ mealtype }}</td>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for entry in structured_table_data %}
							<tr>
								<td style="width:10%;">{{ entry.day }}</td>
								{% for meal in entry.meals %}
								<td style="max-width:22%;">
									<ul class="ps-3 list-style-cricle">
										{% for item_name in meal.items %}
										<li>{{ item_name }}</li>
										{% endfor %}
									</ul>
								</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>					
					
				</div>
			</div>
			
		</div>
	</div>
</section>

{% endblock content %}
