{% extends 'web/base.html' %}
{% load static %}


{% block content %}

<section style="background: #F4F1EA;">
	<div class="container section_padding packages">
		<div class="row">
			
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img1.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Essential</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img2.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Classic Veg</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img3.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Classic Nonveg</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img4.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Standard Veg</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img5.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Standard Nonveg</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<div class="package_block">
					<div class="package_image">
						<img src="/static/web/images/img1.png" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="">Premium</a></h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, cupiditate!</p>
						</div>
						<div class="package-caption-bottom">
							<a href="#" class="price">Brochure</a>
							<div class="package-continue">
								<a href="#" class="button package_type_simple">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<section style="background: #F4F1EA;" class="section_padding_sm cta">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="thumb">
					<div class="card">
						<img src="/static/web/images/cta.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock content %}
