{% extends 'web/base.html' %}
{% load static crispy_forms_tags %}
{% block content %}

<section style="background: #F4F1EA;" id="packages">
	<div class="container section_padding_sm packages">
		<div class="row">
			
			<div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
                <div class="border_box">
                    <div class="thumb">
                        <img src="/static/web/images/select_plan.png" alt="">
                    </div>

                    <div id="progress">
                        <div id="progress-bar"></div>
                        <ul id="progress-num">
                          <li class="step active">1</li>
                          <li class="step active">2</li>
                          <li class="step">3</li>
                          <li class="step">4</li>
                        </ul>
                    </div>

                    {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endif %}
                      
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="pt-3">
                            <button type="submit" class="btn btn-primary">Next</button>
                        </div>
                    </form>
                </div>
			</div>
        </div>
	</div>
</section>


{% endblock content %}


{% block javascript %}
<script>
    $('#id_plan').html('<option value="">Select Plan</option>');

    $(document).ready(function() {
        // Function to reset and populate the plan dropdown
        function populatePlanDropdown(validity, tier) {
            $('#id_plan').html('<option value="">Select Plan</option>');
            if (validity && tier) {
                var url = "{% url 'web:get_plans' %}?validity=" + validity + "&tier=" + tier;
                $.get(url, function(data) {
                    if (data && data.length > 0) {
                        data.forEach(function(plan) {
                            $('#id_plan').append('<option value="' + plan.id + '">' + plan.name + '</option>');
                        });
                    }
                }).fail(function() {
                    console.error('Error fetching plans');
                });
            }
        }

        // Event listener for the 'select days' dropdown
        $('#id_select_days').change(function() {
            var validity = $(this).val();
            var tier = $('#id_select_plan').val();
            populatePlanDropdown(validity, tier);
        });

        // Event listener for the 'select plan' dropdown in case tier changes
        $('#id_select_plan').change(function() {
            var validity = $('#id_select_days').val();
            var tier = $(this).val();
            populatePlanDropdown(validity, tier);
        });
    });

    $('input.dateinput').bootstrapdatepicker({
        format: "dd/mm/yyyy",
        viewMode: "date",
        multidate: false,
        multidateSeparator: "-",
        orientation: "bottom right"
    });
    
</script>
{% endblock %}