{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags django_tables2 humanize %}
{% block title %}Edit: {{app_settings.site_title}}{% endblock %}

{% block content %}

<div class="side-app main-container">


</div>

<script>
    $(document).ready(function () {
        $('a[data-target]').click(function () {
            var target = $(this).data('target');
            $('div[data-id="' + target + '"]').toggleClass('d-none');
            $('div[data-id="' + target + '"]').toggleClass('d-flex');
            $(this).hide();
        });
    });
</script>

{% endblock content %}