{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags django_tables2 humanize extras %}
{% block title %}Home: {{app_settings.site_title}}{% endblock %}

{% block content %}

<div class="side-app main-container">

    <div class="page-header d-xl-flex d-block">
        <div class="page-leftheader">
            <div class="page-title">Pricing Plans 📂</div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 mb-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><span class="fs-15 text-center">Essential</span></th>
                            <th class="fs-15 text-center">22 Days</th>
                            <th class="fs-15 text-center">26 Days</th>
                            <th class="fs-15 text-center">30 Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in plans %}
                        <tr>
                            <td><strong>{{plan.name}}</strong></td>
                            <td><div class="dxc"> AED 100 <span class="spacerbw"></span> </div></td>
                            <td><div class="dxc"> AED 100 <span class="spacerbw"></span> </div></td>
                            <td><div class="dxc"> AED 100 <span class="spacerbw"></span> </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6 mb-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><span class="fs-15 text-center">Classic Veg</span></th>
                            <th class="fs-15 text-center">22 Days</th>
                            <th class="fs-15 text-center">26 Days</th>
                            <th class="fs-15 text-center">30 Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in plans %}
                        <tr>
                            <td><strong>{{plan.name}}</strong></td>
                            <td><div class="dxc"> AED 100 <span class="spacerbw"></span> </div></td>
                            <td><div class="dxc"> AED 100 <span class="spacerbw"></span> </div></td>
                            <td><div class="dxc"> AED 100 <span class="spacerbw"></span> </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock content %}